
        .clo{
            background-color: rgb(251, 249, 252);
        }
        .header {
            background-color: rgb(5, 5, 88);
            padding: 20px;
            width: 100%;
            transition: background-color 0.3s ease;
        }
        .header:hover {
            background-color: rgb(2, 2, 50);
        }
        .nav{
            position: relative;
            display: flex;
            flex-direction: row;
            margin-left: 1100PX;
            justify-content: space-between;
            align-items: center;}
        .nav a {
            font-family: "Bellefair", serif;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            color: white;
            margin-right: 20px;
            font-weight: bold;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        .nav a:hover {
            color: lightblue;
            transform: scale(1.2);
            
        }
        .pro {
            font-family: "Bellefair", serif;
            font-weight: 400;
            font-style: normal;
            color: white;
            text-align: center;
        }
        .pro:hover{
            color:red ;
            transform: scale(1.2);
        }
        #tet {
            text-decoration: none;
            color: white;
        }
        #tet:hover{
            color: red;
        }
        .back {
            padding: 50px;
        }
        #edt {
            border-radius: 40px;
            transition: transform 0.5s ease;
        }
        #edt:hover {
            transform: scale(1.2);
        }
        .co h2, .co h1 {
            font-family: "Bellefair", serif;
            font-weight: 400;
            font-style: normal;
            color: white;
            transition: transform 0.3s ease, color 0.3s ease;
        }
        .co h2:hover, .co h1:hover {
            color: rgb(72, 0, 255);
            transform: scale(1.05);
        }
        .abt, .edu {
            font-family: "Kanit", sans-serif;
            font-weight: 200;
            font-style: normal;
            margin: 50px;
            font-weight: 600;
            font-size: larger;
            text-align: center;
            color: white;
            transition: color 0.3s,ease;
        }
        .abt span, .edu h3 {
            color: red;
        }
        .abt:hover{
            color:blue;
            transform: scale(0.9);}
        .edu:hover{
            color: blue;
            transform: scale(0.9);}
    
        .edu li {
            list-style: none;
        }
        .ski {
            text-align: center;
            color: red;
            margin: 100px;
        }
        .mar {
            margin: 100px;
        }
        .mar p {
            color: black;
            font-weight: 600;
            font-size: larger;
            transition: transform 0.3s ease;
        }
        .mar p:hover {
            transform: translateY(-10px);
            color: blue;
        }
        #crt {
            margin-top: 50px;
        }
        .cont {
            text-align: center;
            color: red;
            margin: 70px;
        }
        #ryt{
            margin-left: 100px;
            font-weight: 600;
            font-size: larger;
            color:black;
           
        }
        .for {
            color: white;
            font-weight: 600;
            font-size: larger;
        }
        #inp {
            width: 55%;
            padding: 10px;
            background-color: blue;
            color: white;
            border-radius: 15px;
            transition: background-color 0.3s ease;
        }
        #inp:focus {
            background-color: darkblue;
        }
        #bt {
            margin-top: 10px;
            color: white;
            background-color: blue;
            padding: 5px;
            border-radius: 15px;
            font-weight: 600;
            margin-bottom: 15px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        #bt:hover {
            background-color: darkblue;
            transform: scale(1.1);
        }
        .foot {
            background-color: rgb(0, 0, 59);
            padding: 30px;
            text-align: center;
        }
        .foot a {
            margin: 10px;
            transition: transform 0.3s ease;
        }
        .foot a:hover {
            transform: scale(1.2);
        }
        .mar{
            transform: scale(1.1);
        }
        #fr{
            font-family: "Roboto Condensed", sans-serif;
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
           background-color: rgb(67, 104, 95);
           height: 340px;  
           border-radius: 25px;
           border-width:5px;
           border-style:solid;
           border-color:rgb(202, 198, 198);
           padding-left: 10px;

        }  
        #to{
            margin-left: 60px;
            margin-top: 20px;
        } 
        #py{
            background-color:rgb(67, 104, 95);
            margin-top: 20px;
            width: 50%;
            margin-left: 500px;
           height: 340px;  
           border-radius: 25px;
           border-width:5px;
           border-style:solid;
           border-color:white;
           padding-left: 10px;
        } 
        .clo{
            background-color:black;
        }
        #to:hover{
            transform:scale(1.09);
            } 
            #fr:hover{
                background-color: rgb(110, 140, 133);;
            }
            #py:hover{
                background-color: rgb(110, 140, 133);;
            }
            .bt {
            margin-top: 10px;
            color: white;
            background-color: blue;
            padding: 5px;
            border-radius: 15px;
            font-weight: 600;
            margin-bottom: 15px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        .bt:hover {
            background-color: darkblue;
            transform: scale(1.1);}
        .fa-square-instagram{
            font-size: 40px;
            color:orange
        }    
        .fa-square-instagram:hover{
            transform: scale(1.1);
        }
        .fa-linkedin{
            font-size: 40px;
            color:orange;
        }
        .fa-linkedin:hover{
            transform: scale(1.1);
        }
        .fa-square-github{
            font-size: 40px;
            color:orange;
        }
        .fa-square-github:hover{
            transform: scale(1.1);
        }
        .fa-envelope{
            font-size: 40px;
            color:orange;
        }
        .fa-envelope:hover{
            transform: scale(1.1);
        }
        .fa-phone{
            font-size: 40px;
            color:orange;
        }
        .fa-phone:hover{
            transform: scale(1.1);
        }
        .for{
            background-color:rgb(252, 251, 251);
            width: 80%;
            padding-left: 40px;
            margin-bottom:30px ;
            border-radius: 10px;
            color:black;
        }
        .ro{
            background-color:rgb(252, 251, 251);
            width: 80%;
            padding-left: 40px;
            margin-bottom:30px ;
            border-radius: 10px;
            margin-left: 50px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
       